/* กำหนด Style ให้กับ Container */
.container-input {
    margin: 0 4rem;
    /*background-color: #f4d5d5;*/
}

/* กำหนด Style ให้กับ Input Set */
.input-set {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 8px; /* ระยะห่างระหว่าง Input และ Dropdown */
}

.label-container {
    display: flex inline-block;
    flex-direction: column; 
    align-items: center; 
    position: relative; 
    /* position: relative;
    display: inline-block; */
}

.input-set .label {
    width: 24px;
    height: 24px;
    color: #6F6F6F;
    font-size: small;
    font-weight: bold;
    border: 2px solid #a1a1a1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tooltiptext{
    visibility: hidden;
    min-width: 200px;
    background-color: #6F6F6F;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: small;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.label-container:hover .tooltiptext {
  visibility: visible;
}

/* จุดสามจุด */
/* จุดสามจุดเหนือ B, C, D , E*/
.label-container[data-label="B"]::before,
.label-container[data-label="C"]::before,
.label-container[data-label="D"]::before,
.label-container[data-label="E"]::before,
.label-container[data-label="F"]::before,
.label-container[data-label="G"]::before,
.label-container[data-label="H"]::before,
.label-container[data-label="I"]::before,
.label-container[data-label="J"]::before{

    content: "︙";
    font-size: 16px;
    color: #6F6F6F;
    position: absolute;
    top: -30px; /* ย้ายขึ้นด้านบน */
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* .label::after {
    content: "︙";
    font-size: 16px;
    margin-left: 5px;
    color: #6F6F6F;
    display: none;
} */

/* แสดงจุดสามจุดเฉพาะ Label B, C, D */
/*.label[data-label="B"]::after,
.label[data-label="C"]::after,
.label[data-label="D"]::after {
    display: block;
}*/

.input-wrap {
    display: flex;
    width: 100%;
    gap: 8px;
}

/* สไตล์สำหรับ Input (Text) */
.input-set input {
    padding: 10px;
    font-size: medium;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    flex: 1; /* ให้ Input กว้างเต็มที่ */
    transition: border-color 0.3s ease;
    background-color: white;
    color: #6F6F6F;
}

.input-set input:focus {
    border-color: #4070FF;
}

/* สไตล์สำหรับ Dropdown */
.input-set select {
    padding: 10px;
    font-size: medium;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s ease;
    color: #6F6F6F;
}

.input-set select:focus {
    border-color: #4070FF;
}

/* การจัดตำแหน่ง Checkbox และปุ่ม */
.options-container {
    display: flex;
    justify-content: space-between; /* กระจาย Checkbox และปุ่มให้ไปยังขอบซ้าย-ขวา */
    align-items: center;
    
}

/* สไตล์สำหรับ Checkbox */
.checkbox-container {
    cursor: pointer;
    color: #a1a1a1;
}

.checkbox {
    width: 14px;
    height: 14px;
}

.checkbox-label {
    font-size: small;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

/* ปุ่มเพิ่ม Input */
.add-button {
    padding: 10px 15px;
    font-size: small;
    font-weight: bold;
    color: #4070FF;
    background-color: white;
    border: 1px solid #4070FF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.add-button:hover {
    background-color: #007bff;
    color: white;
}

.add-button:disabled {
    background-color: #f3f3f3;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
    cursor: not-allowed;
}

.remove-button {
    background-color: transparent;
    border: none;
    color: #6F6F6F;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s;
}

.remove-button:hover {
    color: #000;
}
/* กล่อง autocomplete ทั้งหมด */
.autocomplete-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

/* กล่อง autocomplete ของจุด A และ B */
.wide-input {
    width: 100%;
}

/* แสดงข้อความเมื่อล็อค */
.lock-indicator {
    font-size: 0.85rem;
    color: #e53935;
    margin-top: 4px;
}
.label-container {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}



.label {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* ไอคอนแม่กุญแจ */
.lock-icon-container i {
    font-size: 20px; /* ขนาดของไอคอน */
    display: inline-block; /* แสดงผล */
    color: #555; /* สีไอคอน */
    cursor: pointer; /* เปลี่ยน cursor เมื่อ hover */
    position: absolute;
    transform: translateX(-100%) translateY(-55%);
  }
  

/* เมื่อคลิกแล้วล็อค (เพิ่ม .locked ใน label-container) */
.label-container.locked .lock-icon-container {
    visibility: visible !important;
}

/* สไตล์เมื่อถูกล็อค */
.label-container.locked .label {
    background-color: #007bff; /* เปลี่ยนสีเมื่อถูกล็อค */
    color: #f3f3f3;
    border-color: #4070FF;
}


/*
 /\_/\      /\_/\     |==============|   /\_/\      /\_/\      
( •‿• )♡  ( •‿• )♡  |  RESPONSIVE  |  ( •‿• )♡  ( •‿• )♡  
 > ^ <      > ^ <     |==============|   > ^ <      > ^ <      
*/


@media (min-width: 768px) and (max-width: 820px) {
    /* รูปแบบสำหรับ Tablet */
    .container-input {
        margin: 1rem 2rem;
    }

    /* การจัดตำแหน่ง Checkbox และปุ่ม */
    .options-container {
        display: flex;
        justify-content: space-between; /* กระจาย Checkbox และปุ่มให้ไปยังขอบซ้าย-ขวา */
        align-items: center;
        
    }

    /* สไตล์สำหรับ Checkbox */
    .checkbox-container {
        cursor: pointer;
        color: #a1a1a1;
    }

    .checkbox {
        width: 14px;
        height: 14px;
    }

    .checkbox-label {
        font-size: small;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
    }

}

/* Mobile (โทรศัพท์มือถือ) */
@media (max-width: 767px) {
    /* รูปแบบสำหรับ Mobile */
    .container-input {
        margin: 0 1rem;
    }

    /*.input-set {
        border: 1px solid #a1a1a1;
        border-radius: 8px;
        padding: 0 10px;
    }*/
    
    .input-set .label {
        width: 24px;
        height: 24px;
        color: #6F6F6F;
        font-size: small;
        font-weight: bold;
        border: 2px solid #a1a1a1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* จุดสามจุด */
    /* จุดสามจุดเหนือ B, C, D , E*/
    .label-container[data-label="B"]::before,
    .label-container[data-label="C"]::before,
    .label-container[data-label="D"]::before,
    .label-container[data-label="E"]::before,
    .label-container[data-label="F"]::before,
    .label-container[data-label="G"]::before,
    .label-container[data-label="H"]::before,
    .label-container[data-label="I"]::before,
    .label-container[data-label="J"]::before{
        display: none;
    }
    
    .input-wrap {
        display: grid;
    }

    /*.input-wrap .autocomplete-input {
        border: none;
    }

    .input-wrap select {
        border: none;
    }*/
    
    /* การจัดตำแหน่ง Checkbox และปุ่ม */
    .options-container {
        margin-bottom: 10px;
    }
}
